#
# The Percona XtraDB Cluster 5.7 configuration file.
#
#
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#   Please make any edits and changes to the appropriate sectional files
#   included below.
#
!includedir /etc/my.cnf.d/
!includedir /etc/percona-xtradb-cluster.conf.d/



[mysqld]
port=33061
server_id=1
log_bin=mysql-bin
wsrep_slave_threads=2

datadir=/var/lib/mysql
user=mysql
wsrep_provider=/usr/lib64/libgalera_smm.so
wsrep_cluster_address=gcomm://10.254.1.30,10.254.1.31,10.254.1.32
binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
wsrep_node_address=10.254.1.30
wsrep_cluster_name=percona
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="sstuser:sstuser"



wsrep_node_name=dbnode01
log_slave_updates
innodb_buffer_pool_size=400M
innodb_log_file_size=64M
